{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
{% set color = colors|random %}
<div class="container">
   <br>
      <button class="btn btn-danger btn-lg"
      style="height:50px;width:50px;margin-top:3px"
      type="button">
   {{ tries_left }}</button>
      <button class="btn btn-danger btn-lg"
      style="height:50px;width:auto;margin-top:3px"
      type="button">
   TRIES LEFT</button>



   <br>
   {% for letter in word %}
   <button class="btn btn-secondary btn-lg"
      style="height:50px;width:50px;margin-top:3px"
      type="button">
   {{ letter }}</button>
   {% endfor %}
   <br>
   <br>
   <div>
      {% for letter in all_letters %}
      {% set color = colors|random %}
      <button class="btn btn-{{ color }}"
         style="height:40px;width:40px;margin-top:3px"
         onclick="location.href='/delete_letter/{{ letter }}'" type="button">
      {{ letter }}</button>
      {% endfor %}
   </div>
   <br>
   <div>
      {% for letter in message %}
      <button class="btn btn-{{ color }}"
         style="height:40px;width:40px;margin-top:3px"
         type="button">
      {{ letter }}</button>
      {% endfor %}
   </div>
   <div>
      <br>
      <button class="btn btn-danger btn-lg"
         onclick="location.href='/'" type="button">
      NEW GAME</button>
   </div>
   <br>
</div>
{% endblock %}